:root {
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;

  /* text color */
  --main-txt-cl: #757575;
  --secondary-txt-cl: #212121;
  --accent-cl: #2196f3;

  /* bacground text color */
  --main-bg-cl: #ffffff;
  --secondary-bg-cl: #f5f4fa;
  --dark-bg-cl: #2f303a;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  color: var(--main-txt-cl);
  background-color: var(--main-bg-cl);

  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.link {
  text-decoration: none;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn {
  cursor: pointer;
}

/* ====== Page header ====== */
/* = logo = */
.logo {
  color: var(--accent-cl);
  font-family: var(--secondary-font);
  font-size: 26px;
  font-weight: 700;
  line-height: 1.2;
}

.logo-white {
  color: #000000;
}
.logo-dark {
  color: var(--main-bg-cl);
}
/* = /logo = */
/* = link-list = */
.page-link {
  color: var(--secondary-txt-cl);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.page-link:hover,
.page-link:focus,
.contact-mail-link:hover,
.contact-mail-link:focus,
.contact-tel-link:hover,
.contact-tel-link:focus {
  color: var(--accent-cl);
}

.active-link {
  color: var(--accent-cl);
}
/* = /link-list = */
/* = contact-list = */
.contact-mail-link,
.contact-tel-link {
  color: currentColor;
  font-weight: 500;
}
/* = /contact-list = */
/* ====== /Page header ====== */

/* ====== Hero section ====== */
.hero {
  text-align: center;
  background-color: var(--dark-bg-cl);
  color: var(--main-bg-cl);
}

.hero-title {
  min-width: 696px;
  margin-top: 0;
  margin-bottom: 30px;

  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
}

.feedback-btn {
  display: inline-block;
  min-width: 216px;
  border-radius: 4px;
  padding-top: 10px;
  padding-right: 32px;
  padding-bottom: 10px;
  padding-left: 32px;

  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;

  color: var(--main-bg-cl);
  background-color: var(--accent-cl);
}

.feedback-btn:hover,
.feedback-btn:focus {
  background-color: #188ce8;
}
/* ====== /Hero section ====== */

/* ====== Advantage section ====== */
.advantag {
  padding-top: 94px;
  padding-bottom: 94px;
}

.advantag-subtitle {
  margin-top: 0;
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;

  color: var(--secondary-txt-cl);
}

.advantag-desc {
  margin-top: 0;
  margin-bottom: 0;
}
/* ====== /Advantage section ====== */

/* ====== About section ====== */
.about {
  padding-bottom: 94px;
}

.about-title,
.team-title {
  margin-top: 0;
  margin-bottom: 50px;

  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;

  color: var(--secondary-txt-cl);
}
/* ====== /About section ====== */

/* ====== Team section ====== */
.team {
  padding-bottom: 94px;

  background-color: var(--secondary-bg-cl);
}

.team-img {
  margin-bottom: 30px;
}

.team-subtitle {
  margin-top: 0;
  margin-bottom: 10px;

  font-size: 16px;
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: 0.03em;

  color: var(--secondary-txt-cl);
}

.team-deck {
  margin-top: 0;
  margin-bottom: 0;

  font-size: 16px;
  line-height: 1.18;
}
/* ====== /Team section ====== */

/* ====== Footer ====== */
.foot {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--dark-bg-cl);
}

.logo-foot {
  display: inline-block;
  padding-bottom: 20px;
}

.foot-address-block {
  display: block;

  font-style: inherit;
}

.foot-contact-address-link {
  padding-bottom: 9px;

  color: var(--main-bg-cl);
}

.foot-contact-mail-link {
  padding-bottom: 9px;
}

.foot-contact-mail-link,
.foot-contact-tel-link {
  color: rgba(255, 255, 255, 0.6);
}

.foot-contact-address-link:hover,
.foot-contact-address-link:focus,
.foot-contact-mail-link:hover,
.foot-contact-mail-link:focus,
.foot-contact-tel-link:hover,
.foot-contact-tel-link:focus {
  color: var(--accent-cl);
}
/* ====== /Footer ====== */

/* =============== Portfolio =============== */

/* ====== Work section ====== */

/* = Project filter = */
.work {
  padding-top: 94px;
  padding-bottom: 94px;
}

.work-list {
  margin-bottom: 50px;
}

.work-filter-btn {
  /* padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px; */

  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.03em;

  color: var(--secondary-txt-cl);
  background-color: var(--secondary-bg-cl);
}

.work-filter-btn:hover,
.work-filter-btn:focus {
  color: var(--main-bg-cl);
  background-color: var(--accent-cl);
}

.active-btn {
  color: var(--main-bg-cl);
  background-color: var(--accent-cl);
}
/* = /Project filter = */

/* = Project list = */
.project-subtitle {
  margin-top: 0;
  margin-bottom: 4px;

  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--secondary-txt-cl);
}

.project-img {
  padding-bottom: 20px;
}

.project-deck {
  margin-top: 0;
  margin-bottom: 0;

  font-size: 16px;
  line-height: 1.87;

  color: var(--main-txt-cl);
}

.project-subtitle:hover,
.project-subtitle:focus,
.project-deck:hover,
.project-deck:focus {
  color: var(--accent-cl);
}
/* = /Project list = */

/* ====== /Work section ====== */

/* =============== /Portfolio =============== */

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  outline: 2px solid #000000;
}
